%body
  %header
    %p header color: 白#ffffff 
  %div.TopWrapper
    %div.Container
      %h2.AppCatchphrase 人生を変えるフリマアプリ
      %p.TopPhrase  FURIMAはだれでもかんたんに出品・購入できる
      %p.TopPhrase  フリマアプリです
      %ul.Container__Btn
        %li(class="Container__Btn--Left") 
          = link_to root_path, class:"Left" do
            = image_tag "logo/AnyConv.App_Store_Badge.png", alt: "AppStore", class: "Apple"
        %li(class="Container__Btn--Right")
          = link_to root_path, class:"Right" do
            = image_tag "logo/google-play-badge.png", alt: "GooglePlay"
  %div.InfoWrapper
    %h2.InfoSectionTitle  FURIMAが選ばれる3つの理由
    %ul.Info__Ul
      %li.Info__List
        %div.Info__Div
          %span.Info__Span  1
          = image_tag "pict/pict-reason-01.jpg", alt: "Smartphone", class: "Smartpnohe"
        %h3.Info__h3  
          %span 3分 
          ですぐに出品
        %p  スマホで入力するだけで簡単に出品できる！
      %li.Info__List
        %div.Info__Div
          %span.Info__Span  2
          = image_tag "pict/pict-reason-02.jpg", alt: "Smartphone2", class: "Smartpnohe2"
        %h3.Info__h3  
          %span シンプル
          で使いやすい
        %p  めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.Info__List
        %div.Info__Div
          %span.Info__Span  3
          = image_tag "pict/pict-reason-03.jpg", alt: "Smartphone3", class: "Smartpnohe3"
        %h3.Info__h3  
          手数料
          %span 業界最安
        %p  最大3%でお得に出品&購入！
  %div.AppWrapper
    %div.Container
      %h2.AppMessage 会員数日本一位
      %p.AppPhrase.AppPhrase1 FURIMAは、フリマアプリで最も人気。
      %p.AppPhrase.AppPhrase2 出品・購入回数も業界最多です！
      %p.AppPhrase.AppPhrase3  ほしかったあの商品に出会えるかもしれません。
      %ul.Container__Btn
        %li(class="Container__Btn--Left") 
          = link_to root_path, class:"Left" do
            = image_tag "logo/AnyConv.App_Store_Badge.png", alt: "AppStore", class: "Apple"
        %li(class="Container__Btn--Right")
          = link_to root_path, class:"Right" do
            = image_tag "logo/google-play-badge.png", alt: "GooglePlay"
  %div.FeaturesWrapper
    %h2.FeaturesSectionTitle  FURIMAの特徴
    %ul.Features__Ul
      %li.Features__List
        %div.Features__Div
          = image_tag "icon/icon-01.png", alt: "Man", class: "Man"
        %h3.Info__h3  簡単に売り買いできる
        %p  スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      %li.Features__List
        %div.Features__Div
          = image_tag "icon/icon-03.png", alt: "Woman", class: "Woman"
        %h3.Info__h3  売上金は即日振込みに対応
        %p  午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
      %li.Features__List
        %div.Features__Div
          = image_tag "icon/icon-04.png", alt: "Pay", class: "Pay"
        %h3.Info__h3  様々な支払いに対応
        %p  お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
  %div.CategoryWrapper
    %p color: グレー#f8f8f8
  %div.BrandWrapper
    %p color: グレー#f8f8f8
  %div.DownloadWrapper
    %div.Container
      %h2.DownLoadMessage だれでもかんたん、人生を変えるフリマアプリ
      %p.DownLoadPhrase 今すぐ無料ダウンロード！
      %ul.Container__Btn
        %li(class="Container__Btn--Left") 
          = link_to root_path, class:"Left" do
            = image_tag "logo/AnyConv.App_Store_Badge.png", alt: "AppStore", class: "Apple"
        %li(class="Container__Btn--Right")
          = link_to root_path, class:"Right" do
            = image_tag "logo/google-play-badge.png", alt: "GooglePlay"
  %footer
    %p color: ダーク#272727
  %div.SellerButton
    = link_to root_path 
    %span 
      出品する
    %img.icon_camera
      = image_tag "icon/icon_camera.png", alt: "出品アイコン"

  %ul.Container3__Btn
    %li(class="Container3__Btn--Left") 
      =link_to root_path, class:"Left" do
        = image_tag "logo/AnyConv.App_Store_Badge.png", alt: "AppStore", class: "Apple"
    %li(class="Container3__Btn--Right")
      =link_to root_path, class:"Right" do
        = image_tag "logo/google-play-badge.png", alt: "GooglePlay"

