= render "layouts/header"
.buy-wrapper
  .buy-wrapper__main
    .buy-wrapper__main__title
      .buy-wrapper__main__title__text.center
        購入内容の確認
    .border
    .buy-wrapper__main__contents
      = image_tag "#{@product.images[0].image}", class: "buy-wrapper__main__contents__left"
      .buy-wrapper__main__contents__right
        .name
          商品名
        .price
          ¥3,000(税込)送料込み
    .border
    .buy-wrapper__main__title
      .buy-wrapper__main__title__text
        支払い金額
        .buy-wrapper__main__title__text.light.space
          ¥3,000
    .border
    .buy-wrapper__main__title
      .buy-wrapper__main__title__text
        支払い方法
        .buy-wrapper__main__title__text
          登録して下さい
    .buy-wrapper__main__title
      .buy-wrapper__main__title__text
        配送先
        .buy-wrapper__main__title__text
          登録して下さい
      = link_to pay_product_path(@product), class: "buy-wrapper__main__pay-btn" do
        購入を確定する
= render "layouts/footer"