.cardsshow
  = render "users/side_bar"

  .show_card_wrapper
    .header_title
      支払い方法
    .single-container
      .single-container__center
        .creditcard_section
          クレジットカード一覧
          - if @card.present?
            .container
              .creditcard-info
                %p.creditcard-info__number
                  = "**** **** **** " + @card_info.last4
                %p.creditcard-info__period 
                = @exp_month + " / " + @exp_year
                = button_to "削除する", cards_path(@card), method: :delete, class:"creditcard-info__delete"
          - else
            .new-card
              = link_to  new_card_path, class:"new-card__btn" do
                %i.far.fa-credit-card 
                クレジットカードを追加する

          .return-top
            = link_to  root_path, class:"return-top__btn" do
              トップページへ戻る
%footer
  %div.Footer__LogoB
    = link_to root_path, class:"Logo" do
      = image_tag "logo/logo-white.png", alt: "LogoWhite"