%div.CategoryPics__Pic
  = link_to root_path , class:"Pic1" do
    %div.Pic
      = image_tag prodcut.pictures.picture.url, alt: "Bird", class: "Bird"
    %div.CategoryPic__Text
      %h3= product.name
      %div.Text
        %ul
          %li= "#{product.price}円"
          %li ★0
        %p  （税込）