-# = render "layouts/header"
.buy-wrapper
  .buy-wrapper__header
    = link_to root_path, class:"headerLogo" do
      = image_tag "logo/logo.png", class: "FurimaLogo"
    .buy-wrapper__main
      .buy-wrapper__main__title
        .buy-wrapper__main__title__text.center
          購入内容の確認
      .border
      .buy-wrapper__main__contents
        = image_tag @product.pictures[0].picture.url, class: "buy-wrapper__main__contents__left"
        .buy-wrapper__main__contents__right
          =@product.products_name
          %br
          ="#{@product.price}円(税込)送料込み"
          %br
      .border
      .buy-wrapper__main__title
        .buy-wrapper__main__title__text
          支払い金額
        .buy-wrapper__main__title__text
          ="¥#{@product.price}"
      .border
      .buy-wrapper__main__title
        支払い方法
        .buy-wrapper__main__title__text
          - if @card.blank?
            .buy-wrapper__main__title__text.light.space
              = link_to new_cards_path, class:"Pay" do
                登録してください
          - else
            .buy-wrapper__main__title__text.registration
              .containerB
                .creditcard-infoB
                  %p.creditcard-info__numberB
                    = "**** **** ****"  + @card_info.last4
                  %p.creditcard-info__periodB
                  = @exp_month + "/" + @exp_year
            
      .border
      .buy-wrapper__main__title
        配送先
        .buy-wrapper__main__title__text
          .buy-wrapper__main__title__text.light.width
            = @users.zip_code
            = @users.prefecture
            = @users.city
            = @users.street
      .border
      .buy-wapper__main__pay-btn
        = link_to pay_product_path(@product) , method: :post do
          登録クレジットカードで購入する
        -# = link_to "登録クレジットカードで購入する", controller: 'cards', action: 'pay', method: :post, class: "pay"
  .buy-wrapper__footer
    .buy-wrapper__footer__text
      = link_to root_path, class:"Policy" do
        プライバシーポリシー
      = link_to root_path, class:"TermsOfService" do
        FURIMA利用規約
      = link_to root_path, class:"SpecificCommerce" do
        特定商取引に関する表記
    .buy-wrapper__footer__logo
      = image_tag "logo/logo-white.png", class: "WhiteLogo"
-# = render "layouts/footer"