%body
  %div.new-header
    = link_to root_path ,class:"HeaderLogo" do
      = image_tag"logo/logo.png",class:"HeaderLogo"

  %div.main
    = form_for @product do |f|
      .contents__main
        .contents__main__header
          商品情報を編集
        .contents__main__upload
          .contents__main__image
            .contents__main__image__head
              %label.name 出品画像
              .contents__main__detail__right__name--icon
                %span.essential-label 必須
            %label.name 最大5枚までアップロードできます

            .post__drop__box__container
              .prev-content

                //JSで挿入したhtmlと同じ形　each文でのプレビュー表示
                - @product.pictures.each do |picture|
                  .preview-box
                    .upper-box
                      = image_tag picture.picture.url, width: "112", height: "112", alt: "preview"
                    .lower-box
                      -# .update-box
                      -#   %label.edit-btn 編集
                      .delete-box
                        .delete-btn
                          %span 削除
              .label-content

                //プレビューの数に合わせてforオプションを指定
                = f.label :"pictures_attributes_#{@product.pictures.length}_picture", class: "label-box", id: "label-box--#{@product.pictures.length}" do
                  %pre.label-box__text-visible クリックしてファイルをアップロード
              .hidden-content
                = f.fields_for :picture do |i|

                  //プレビューが出ている分のfile_fieldとdelete用のチェックボックスを設置
                  = i.file_field :picture, class: "hidden-field"
                  = i.check_box:_destroy, class: "hidden-checkbox"

                  //5つのfile_fieldを準備するに当たって、足りない分を表示
                - @product.pictures.length.upto(4) do |i|
                  %input{name: "product[pictures_attributes][#{i}][picture]", id: "product_pictures_attributes_#{i}_picture", class:"hidden-field", type:"file"}
            -# .contents__main__image__box
            -#   .contents__main__image__box
            -#     .contents__main__image__box__previews
            -#       - if @product.persisted?
            -#         - @product.pictures.each_with_index do |picture, i|
            -#           .contents__main__image__box__previews__preview{"data-index" => "#{i}"}
            -#             .contents__main__image__box__previews__preview__image
            -#               = image_tag picture.picture.url, data: { index: i }, class: 'input_images', width: "120", height: '120'
            -#               .js-remove.contents__main__image__box__previews__preview__delete
            -#                 削除
            -#       = f.fields_for :pictures, @product.pictures do |picture|
            -#         - if @product.persisted?
            -#           = picture.check_box :_destroy, include_hidden: false, data:{ index: picture.index },class: 'hidden-destroy'
            -#     .contents__main__image__box__uploader
            -#       %label.contents__main__image__box__uploader__label<>
            -#         .js-file_group{"data-index" => "#{@product.pictures.count}"}
            -#           = f.file_field :picture, name: "product[pictures_attributes][#{@product.pictures.count}][picture]", id: "product_pictures_attributes_#{@product.pictures.count}_picture", class: 'js-file'
            -#         .contents__main__image__box__uploader__text
            -#           ここをクリックしてください

        %div.destinction-block
          %div.destinction-block__name
            %div.destinction-block__name__label
              %div.name 商品名
              %div.essential-label 必須
            %div.destinction-block__form
              = f.text_field :products_name, class:"input-area",placeholder:"40文字まで"

          %div.destinction-block__destinction
            %div.destinction-block__destinction__label
              %div.name 商品の説明
              %div.essential-label 必須
            %div.destinction-block__destinction__form
              = f.text_area :descreption, class:"destinction-block__destinction__form__area",placeholder:"商品の説明（必須）（色、素材、重さ、定価、注意点　など）"

        %div.detail-block
          %div.detail-block__category
            %div.detail-block__category__label
              %div.name カテゴリー
              %div.essential-label 必須
            %div.detail-block-category__form
              -# = f.text_field '#',class:"input-area"

          %div.detail-block__bland
            %div.detail-block__bland__label
              %div.name ブランド
              %div.non-essential-label 任意
            %div.detail-block__bland__form
              = f.text_field :brand,class:"input-area"

          %div.detail-block-product_condition
            %div.detail-block__product-condition__label
              %div.name 商品の状態
              %div.essential-label 必須
            %div.detail-block__product-condition__form
              = f.select :product_condition,["新品、未使用", "未使用に近い", "目立った傷や汚れなし", "やや傷や汚れあり", "傷や汚れあり", "全体的に状態が悪い"],{include_blank: '選択してください'},class:"input-area"

        %div.shipment-block
          %div.shipment-block__fee
            %div.shipment-block__fee__label
              %div.name 配送料の負担
              %div.essential-label 必須
            %div.shipment-block__fee__form
              = f.select :shipment_fee, ["送料込み(出品者負担)", "着払い(購入者負担)"], {include_blank: '選択してください'},class:"input-area"

          %div.shipment-block__place
            %div.shipment-block__place__label
              %div.name 発送元の地域
              %div.essential-label 必須
            %div.shipment-block__place__formapplica
              = f.collection_select :shipping_place, Prefecture.all, :id, :name, {prompt: "選択してください"},class:"input-area"

          %div.shipment-block__period
            %div.shipment-block__period__label
              %div.name 発送までの日数
              %div.essential-label 必須
            %div.shipment-block__period__form
              = f.select :shipping_period, ["1~2日で発送", "2~3日で発送", "4~7日で発送"], {include_blank: '選択してください'},class:"input-area"

        %div.price-block
          %p.price-block__text 価格（¥300〜9,999,999）
          %div.price-block__name
            %div.price-block__name__label
              %div.name 価格
              %div.essential-label 必須
            %span.price-block__name__yenn-mark ¥
            %div.price-block__form
              = f.number_field :price, min:300,max:1000000,class:"input-area__number",placeholder:"0"

        %div.btn-block
          = f.submit '変更する',class:"btn-block__submit"
          = link_to root_path,class:"btn-block__return"do
            もどる

  %div.footer
    %ul.footer__list
      %li
        = link_to '#',class:"footer__list__link" do
          プライバシーポリシー
      %li
        = link_to '#',class:"footer__list__link" do
          利用規約
      %li
        = link_to '#',class:"footer__list__link" do
          特定商取引に関する表記
    %div      
    = link_to '#' do
      = image_tag"logo/logo-white.png",class:"footer__Logo"

