%body
  %header
    %div.HeaderContainer
      %div.HeaderMain
        %h1
          = link_to root_path, class:"HeaderLogo" do
            = image_tag "logo/logo.png", alt: "FURIMALogo", class: "FURIMALogo"
        %div.MainChat__Form
          %form(class="NewMessage")
            .NewMessage__InputBox
              %input(class="NewMessage__Input" type="text" placeholder="キーワードから探す")
              %button.Button
                %div
                  = image_tag "icon/icon-search 2.png", alt: "Search", value: "Send", type: "submit", class: "NewMessage__SubmitBtn"
        %ul
      %div.HeaderNav
        %ul.Nav__Left
          %li.Nav__Left--left
            = link_to root_path do 
              カテゴリー
          %li.Nav__Left--right
            = link_to root_path do 
              ブランド
        %ul.Nav__Right
          - if user_signed_in?
            %li.Nav__Right--left
              = link_to  users_index_path do 
                マイページ
            %li.Nav__Right--right
              = link_to destroy_user_session_path method: :delete do 
                ログアウト
          - else
            %li.Nav__Right--left
              = link_to new_user_session_path do 
                ログイン
            %li.Nav__Right--right
              = link_to new_user_registration_path do 
                新規会員登録
  %div.TopWrapper
    %div.Container
      %h2.AppCatchphrase 人生を変えるフリマアプリ
      %p.TopPhrase  FURIMAはだれでもかんたんに出品・購入できる
      %p.TopPhrase  フリマアプリです
      %ul.Container__Btn
        %li(class="Container__Btn--Left") 
          = link_to root_path, class:"Left" do
            = image_tag "logo/AnyConv.App_Store_Badge.png", alt: "AppStore", class: "Apple"
        %li(class="Container__Btn--Right")
          = link_to root_path, class:"Right" do
            = image_tag "logo/google-play-badge.png", alt: "GooglePlay"
  %div.InfoWrapper
    %h2.InfoSectionTitle  FURIMAが選ばれる3つの理由
    %ul.Info__Ul
      %li.Info__List
        %div.Info__Div
          %span.Info__Span  1
          = image_tag "pict/pict-reason-01.jpg", alt: "Smartphone", class: "Smartpnohe"
        %h3.Info__h3  
          %span 3分 
          ですぐに出品
        %p  スマホで入力するだけで簡単に出品できる！
      %li.Info__List
        %div.Info__Div
          %span.Info__Span  2
          = image_tag "pict/pict-reason-02.jpg", alt: "Smartphone2", class: "Smartpnohe2"
        %h3.Info__h3  
          %span シンプル
          で使いやすい
        %p  めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.Info__List
        %div.Info__Div
          %span.Info__Span  3
          = image_tag "pict/pict-reason-03.jpg", alt: "Smartphone3", class: "Smartpnohe3"
        %h3.Info__h3  
          手数料
          %span 業界最安
        %p  最大3%でお得に出品&購入！
  %div.AppWrapper
    %div.Container
      %h2.AppMessage 会員数日本一位
      %p.AppPhrase.AppPhrase1 FURIMAは、フリマアプリで最も人気。
      %p.AppPhrase.AppPhrase2 出品・購入回数も業界最多です！
      %p.AppPhrase.AppPhrase3  ほしかったあの商品に出会えるかもしれません。
      %ul.Container__Btn
        %li(class="Container__Btn--Left") 
          = link_to root_path, class:"Left" do
            = image_tag "logo/AnyConv.App_Store_Badge.png", alt: "AppStore", class: "Apple"
        %li(class="Container__Btn--Right")
          = link_to root_path, class:"Right" do
            = image_tag "logo/google-play-badge.png", alt: "GooglePlay"
  %div.FeaturesWrapper
    %h2.FeaturesSectionTitle  FURIMAの特徴
    %ul.Features__Ul
      %li.Features__List
        %div.Features__Div
          = image_tag "icon/icon-01.png", alt: "Man", class: "Man"
        %h3.Info__h3  簡単に売り買いできる
        %p  スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      %li.Features__List
        %div.Features__Div
          = image_tag "icon/icon-03.png", alt: "Woman", class: "Woman"
        %h3.Info__h3  売上金は即日振込みに対応
        %p  午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
      %li.Features__List
        %div.Features__Div
          = image_tag "icon/icon-04.png", alt: "Pay", class: "Pay"
        %h3.Info__h3  様々な支払いに対応
        %p  お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
  %div.wrappers
    %div.CategoryWrapper
      %h2.CategoryTitle  ピックアップカテゴリー
      %div.CategoryContainer
        %div.CategoryNew  
          = link_to root_path , class:"CategoryInfo" do
            %h3  新規投稿商品
        %div.ProductPics
          - @products.each do |product|
            =  render 'product',product: product
    %div.BrandWrapper
      %h2.BrandTitle  ピックアップブランド
      %div.BrandContainer
        %div.BrandNew  
          = link_to root_path , class:"BrandInfo" do
            %h3.BrandNew  アーカイブ
        %div.ProductPics
          - @products.each do |product|
            =  render 'product', product: product

  %div.DownloadWrapper
    %div.Container
      %h2.DownLoadMessage だれでもかんたん、人生を変えるフリマアプリ
      %p.DownLoadPhrase 今すぐ無料ダウンロード！
      %ul.Container__Btn
        %li(class="Container__Btn--Left") 
          = link_to root_path, class:"Left" do
            = image_tag "logo/AnyConv.App_Store_Badge.png", alt: "AppStore", class: "Apple"
        %li(class="Container__Btn--Right")
          = link_to root_path, class:"Right" do
            = image_tag "logo/google-play-badge.png", alt: "GooglePlay"
  %footer
    %ul.Container
      %li.List
        %h2  FURIMAについて
        %ul
          %li
            = link_to root_path do 
              会社概要（運営会社）
          %li
            = link_to root_path do
              プライバシーポリシー
          %li
            = link_to root_path do
              FURIMA利用規約
          %li
            = link_to root_path do
              ポイントに関する特約
      %li.List
        %h2  FURIMAを見る
        %ul
          %li
            = link_to root_path do
              カテゴリー一覧
          %li
            = link_to root_path do
              ブランド一覧
      %li.List
        %h2  ヘルプ＆ガイド
        %ul
          %li
            = link_to root_path do
              FURIMAガイド
          %li
            = link_to root_path do
              FURIMAロゴ利用ガイドライン
          %li
            = link_to root_path do
              お知らせ
    %div.Footer__Logo
      = link_to root_path, class:"Logo" do
        = image_tag "logo/logo-white.png", alt: "LogoWhite"
    %p  © FURIMA
  %div.SellerButton
    - if user_signed_in?
      = link_to new_product_path , class:"TopButton" do
        %span  出品する
        = image_tag "icon/icon_camera.png", alt: "出品アイコン"
    - else
      = link_to new_user_session_path , class:"TopButton" do
        %span  出品する
        = image_tag "icon/icon_camera.png", alt: "出品アイコン"
